*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: darkslategrey;

}


 nav a {
    font-size: medium;
    color: aliceblue;
    padding: 10px 20px ;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color: indianred;
    padding: 20px;
}

section{
    flex: 70%;
    background-color: cadetblue;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: mediumpurple;
}
@media  screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}